In [0]:
import pandas as pd

# Employee Data
employee_data = data = [("Benjamin Johnson", 28, "1987-09-12", "Male", 1234, 50000, 2),
("Sophia Anderson", 42, "1980-05-23", "Female", 5678, 65000, 1),
("Ethan Martinez", 19, "2004-12-01", "Male", 9012, 30000, 3),
("Olivia Thompson", 35, "1988-03-17", "Female", 3456, 55000, 4),
("Liam Davis", 31, "1992-07-08", "Male", 7890, 48000, 2),
("Ava Wilson", 24, "1999-11-19", "Female", 2345, 52000, 1),
("Noah Taylor", 29, "1994-02-28", "Male", 6789, 59000, 3),
("Isabella Garcia", 38, "1985-10-04", "Female", 1234, 72000, 2),
("James Robinson", 47, "1976-06-15", "Male", 5678, 89000, 1),
("Mia Lopez", 26, "1997-12-25", "Female", 9012, 42000, 4),
("Jacob Lewis", 33, "1990-04-03", "Male", 3456, 56000, 3),
("Charlotte Harris", 41, "1982-08-27", "Female", 7890, 67000, 2),
("William Clark", 52, "1971-02-09", "Male", 2345, 93000, 1),
("Abigail Young", 27, "1996-06-30", "Female", 6789, 48000, 4),
("Alexander Hall", 39, "1984-11-14", "Male", 1234, 62000, 3),
("Emily Lee", 22, "2001-03-22", "Female", 5678, 38000, 2),
("Michael Turner", 45, "1978-09-07", "Male", 9012, 71000, 1),
("Harper Adams", 32, "1989-05-15", "Female", 3456, 53000, 4),
("Matthew Baker", 36, "1985-07-02", "Male", 7890, 68000, 3),
("Elizabeth King", 30, "1991-12-10", "Female", 2345, 57000, 2)]

employee_schema = ["name", "age", "date_of_birth", "gender", "ID_number", "salary", "deptid"]

# Department Data
dept_data = [("HR", 1), ("IT", 2), ("FINANCE", 3), ("Operations", 5)]
dept_schema = ["Department", "deptid"]

# Create DataFrames for both employee and department data
employee_df = pd.DataFrame(employee_data, columns=employee_schema)
dept_df = pd.DataFrame(dept_data, columns=dept_schema)

# Merge the employee and department DataFrames based on the 'deptid' column
merged_df = pd.merge(employee_df, dept_df, on='deptid')

# Filter data (for example, filter by gender and age)
filtered_data = merged_df[(merged_df['gender'] == 'Female') & (merged_df['age'] >= 40)]

# Calculate the average salary for the filtered data
average_salary = filtered_data['salary'].mean()

print("Filtered Data:")
print(filtered_data)

print("\nAverage Salary for Filtered Data:")
print(average_salary)

Filtered Data:
               name  age date_of_birth  gender  ID_number  salary  deptid  \
3  Charlotte Harris   41    1982-08-27  Female       7890   67000       2
6   Sophia Anderson   42    1980-05-23  Female       5678   65000       1

  Department
3         IT
6         HR

Average Salary for Filtered Data:
66000.0

In [0]:
display(merged_df)

name,age,date_of_birth,gender,ID_number,salary,deptid,Department
Benjamin Johnson,28,1987-09-12,Male,1234,50000,2,IT
Liam Davis,31,1992-07-08,Male,7890,48000,2,IT
Isabella Garcia,38,1985-10-04,Female,1234,72000,2,IT
Charlotte Harris,41,1982-08-27,Female,7890,67000,2,IT
Emily Lee,22,2001-03-22,Female,5678,38000,2,IT
Elizabeth King,30,1991-12-10,Female,2345,57000,2,IT
Sophia Anderson,42,1980-05-23,Female,5678,65000,1,HR
Ava Wilson,24,1999-11-19,Female,2345,52000,1,HR
James Robinson,47,1976-06-15,Male,5678,89000,1,HR
William Clark,52,1971-02-09,Male,2345,93000,1,HR
Michael Turner,45,1978-09-07,Male,9012,71000,1,HR
Ethan Martinez,19,2004-12-01,Male,9012,30000,3,FINANCE
Noah Taylor,29,1994-02-28,Male,6789,59000,3,FINANCE
Jacob Lewis,33,1990-04-03,Male,3456,56000,3,FINANCE
Alexander Hall,39,1984-11-14,Male,1234,62000,3,FINANCE
Matthew Baker,36,1985-07-02,Male,7890,68000,3,FINANCE

In [0]:
display(employee_data)

_1,_2,_3,_4,_5,_6,_7
Benjamin Johnson,28,1987-09-12,Male,1234,50000,2
Sophia Anderson,42,1980-05-23,Female,5678,65000,1
Ethan Martinez,19,2004-12-01,Male,9012,30000,3
Olivia Thompson,35,1988-03-17,Female,3456,55000,4
Liam Davis,31,1992-07-08,Male,7890,48000,2
Ava Wilson,24,1999-11-19,Female,2345,52000,1
Noah Taylor,29,1994-02-28,Male,6789,59000,3
Isabella Garcia,38,1985-10-04,Female,1234,72000,2
James Robinson,47,1976-06-15,Male,5678,89000,1
Mia Lopez,26,1997-12-25,Female,9012,42000,4
Jacob Lewis,33,1990-04-03,Male,3456,56000,3
Charlotte Harris,41,1982-08-27,Female,7890,67000,2
William Clark,52,1971-02-09,Male,2345,93000,1
Abigail Young,27,1996-06-30,Female,6789,48000,4
Alexander Hall,39,1984-11-14,Male,1234,62000,3
Emily Lee,22,2001-03-22,Female,5678,38000,2
Michael Turner,45,1978-09-07,Male,9012,71000,1
Harper Adams,32,1989-05-15,Female,3456,53000,4
Matthew Baker,36,1985-07-02,Male,7890,68000,3
Elizabeth King,30,1991-12-10,Female,2345,57000,2

In [0]:
display(dept_data)

_1,_2
HR,1
IT,2
FINANCE,3
Operations,5